@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />

<div id="hello-world-container">
    <h1 class="no-margin">Hello World!</h1>
</div>