<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Noted</title>
    <link rel="stylesheet" href="~/css/shared/main.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
</head>
<body>
    @await Html.PartialAsync("Partials/Header")
    <div id="content">
        @RenderBody()
    </div>
    @await Html.PartialAsync("Partials/Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/shared/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
